@page
@model VismaTest.Pages.Stillinger.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Stilling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stilling.Stillingstittel" class="control-label"></label>
                <input asp-for="Stilling.Stillingstittel" class="form-control" />
                <span asp-validation-for="Stilling.Stillingstittel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stilling.StillingStartDato" class="control-label"></label>
                <input asp-for="Stilling.StillingStartDato" class="form-control" />
                <span asp-validation-for="Stilling.StillingStartDato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stilling.StillingSluttDato" class="control-label"></label>
                <input asp-for="Stilling.StillingSluttDato" class="form-control" />
                <span asp-validation-for="Stilling.StillingSluttDato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stilling.AnsattID" class="control-label"></label>
                <select asp-for="Stilling.AnsattID" class ="form-control" asp-items="ViewBag.AnsattID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
